@page
@model Quantrack.Pages.AuthentificationModel
@{
    Layout = "_LayoutAuth";
    ViewData["title"] = "Authentification";
}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-6-tablet is-5-desktop is-4-widescreen">
            @if (Model.WarningMessage != string.Empty)
            {
                <div class="notification is-light is-warning">
                    <button class="delete"></button>
                    <p>
                        <h3 class="title">Oups ! Attention !</h3>
                    </p>
                    <p>@Model.WarningMessage</p>
                </div>
            }
            @if (Model.ErrorMessage != string.Empty)
            {
                <div class="notification is-light is-danger">
                    <button class="delete"></button>
                    <p>
                        <h3 class="title">Oups, quelque chose s’est mal passé !</h3>
                    </p>
                    <p>@Model.ErrorMessage</p>
                </div>
            }
            <form method="post" class="box">
                <div class="field">
                    <label for="login">ID</label>
                    <div class="control">
                        <input type="text" id="login" class="input" name="login" placeholder="Login ou Email" autofocus value="@Model.user.Login" />
                    </div>
                </div>
                <div class="field">
                    <label for="pwd">Mot de passe</label>
                    <div class="control">
                        <input type="password" id="pwd" class="input" name="pwd" placeholder="Mot de passe" value="@Model.user.MotDePasse" />
                    </div>
                </div>
                <div class="field">
                    <input type="submit" class="button is-primary is-outlined" value="Se connecter" />
                </div>
            </form>
            
        </div>
    </div>
</div>
