<!DOCTYPE html>
<html lang="fr-fr" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quantrack</title>
    <link href="~/lib/fontawesome-free-6.6.0-web/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-6.6.0-web/css/all.css" rel="stylesheet" />
    @* <link href="~/lib/bulma-1.0.1/bulma/css/bulma.css" rel="stylesheet" />
    <link href="~/lib/bulma-1.0.1/bulma/css/bulma.min.css" rel="stylesheet" /> *@
    @* <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" /> *@
    <link href="~/lib/fontawesome-free-6.6.0-web/css/all.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-6.6.0-web/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Quantrack.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/img/" />
    <link href="~/lib/bulma-1.0.1/bulma/css/bulma.min.css" rel="stylesheet" />
    <link href="~/lib/bulma-1.0.1/bulma/css/bulma.css" rel="stylesheet" />

    <!-- Font html -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            @RenderBody()
        </div>
    </section>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Quantrack - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* <script src="~/lib/metro-lib/lib/metro.all.js"></script>
    <script src="~/lib/metro-lib/lib/metro.js"></script> *@
    <script src="~/lib/fontawesome-free-6.6.0-web/js/all.js"></script>
    <script src="~/lib/fontawesome-free-6.6.0-web/js/all.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>